.mapreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Set a light background for better contrast */
  margin: 0;
  background-color: #F7EED3;
}

.Map-video {
  width: 100%;
  max-height: 70%; /* Restrict the height to 70% of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.map-video-video {
  width: 75%;
  height: 70%;
  object-fit: cover; /* Ensures the video scales to fit the space */
  border-radius: 2rem;
}

.map-text {
  text-align: center;
  margin-top: 20px;
  max-width: 600px;
  font-family: "Cinzel", serif;

}

.map-text h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.map-text p {
  font-size: 1rem;
  color: #666;
}
